---
import ExperienceItem from "./ExperienceItem.astro";
import { EXPERIENCE } from "../data/experienceData";
---
<ol class="relative border-s ml-3 border-gray-200 ">
    {
        EXPERIENCE.map(experience => (
                <li class="mb-10 ms-4">
                    <ExperienceItem {...experience}/>
                </li>
        ))
    }

</ol>

