---
import "./ExperienceItem.css"

interface Props {
    date: string,
    title: string,
    description: string,
    link?: string,
}

const {date, title, description, link} = Astro.props
---

<div class="timeline-dot"></div>
<time class="timeline-date">{date}</time>
<h3 class="job-title">{title}</h3>
<p class="job-description">{description}</p>
{
    link && (
    <a href={link}
       class="job-link">Company
        Website
        <svg class="timeline-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
             viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </a>
        )
    }