---
import "./Footer.css"
import { Image } from 'astro:assets';
import brandImage from '../../public/GD.png';
---
<footer class="footer">
    <div class="footer-container">
        <div class="footer-content">
            <span class="footer-brand">
                <Image src={brandImage} class="size-8 " alt="GD Logo" loading="lazy"/>
                <span class="footer-name">Guillermo Duque</span>
            </span>
            <ul class="footer-links">
                <li>
                    <a href="#top" class="hover:underline me-4 md:me-6">About</a>
                </li>
                <li>
                    <a href="mailto:gui.duquesanchez@gmail.com" class="hover:underline">Contact</a>
                </li>
            </ul>
        </div>
        <hr class="footer-divider"/>
        <span class="footer-rights">© 2025 <a href="https://flowbite.com/" class="hover:underline">Guillermo Duque™</a>. All Rights Reserved.</span>
    </div>
</footer>

