---
import "./Footer.css"
---
<footer class="footer">
    <div class="footer-container">
        <div class="footer-content">
            <a class="footer-brand">
                <img src="/GD.png" class="h-8" alt="GD Logo"/>
                <span class="footer-name">Guillermo Duque</span>
            </a>
            <ul class="footer-links">
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">About</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Contact</a>
                </li>
            </ul>
        </div>
        <hr class="footer-divider"/>
        <span class="footer-rights">© 2025 <a href="https://flowbite.com/" class="hover:underline">Guillermo Duque™</a>. All Rights Reserved.</span>
    </div>
</footer>

