<header class="w-full top-0 z-20 flex justify-center items-center py-5">
    <nav id="navbar" class="transition-all duration-300 ease-in-out bg-opacity-0 bg-neutral-950 fixed w-full z-20 top-0 px-4">
        <ul class="flex justify-center gap-x-10 -mb-px text-sm font-medium text-gray-300">
            <li class="me-2">
                <a href="#top" class="text-xl inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                    Home
                </a>
            </li>
            <li class="me-2">
                <a href="#experience" class="text-xl inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                    Experience
                </a>
            </li>
        </ul>
    </nav>
</header>

<!-- Script para cambiar la opacidad al hacer scroll -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const navbar = document.getElementById("navbar");
        if (!navbar) return; // Si navbar no existe, salimos del script.

        window.addEventListener("scroll", function () {
            let scrollTop = window.scrollY; // Píxeles desplazados
            let maxScroll = 300; // Altura en la que llega al 100% de opacidad

            // Opacidad comienza en 0 y llega hasta 1
            let opacity = Math.min(1, scrollTop / maxScroll);

            navbar.style.backgroundColor = `rgba(17, 17, 17, ${opacity})`; // Gris oscuro con opacidad dinámica
        });
    });
</script>
